@media (min-width : 375px) and (max-width : 667px){
    body {
        margin: 10px auto;
        padding: 0 20px 20px 20px;
        font-size: 30px;
        box-sizing: content-box;
    }
}

@media (min-width : 760px) and (max-width : 1024px){
    body {
        margin: 10px auto;
        padding: 0 20px 20px 20px;
        font-size: 40px;
        box-sizing: content-box;
    }
}