.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(248, 219, 0);
  color: black;
}
.topnav a.active {
  background-color: #9704aa;
  color: rgb(255, 255, 255);
}
  
.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 1440px;
  height: 1002px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle3 {
  top: 0px;
  left: 372px;
  width: 1068px;
  height: 1004px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(26, 77, 46, 1);
}
.desktop1-rectangle1 {
  top: -20px;
  left: -80px;
  width: 452px;
  height: 1024px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle2 {
  top: 40px;
  left: -31px;
  width: 1502px;
  height: 254px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(250, 243, 227, 1);
  border-style: solid;
  border-width: 7px;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1-text {
  top: 544px;
  left: 44px;
  color: rgba(255, 159, 41, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text01 {
  top: 338px;
  left: 378px;
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ,5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.desktop1-text02 {
  top: 398px;
  left: 349px;
  color: rgba(250, 243, 227, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text03 {
  top: 398px;
  left: 567px;
  color: rgba(250, 243, 227, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  top: 714px;
  left: 374px;
  color: rgba(0, 0, 0, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ,5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.desktop1-text05 {
  top: 331px;
  left: 1024px;
  color: rgba(0, 0, 0, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.desktop1-text06 {
  top: 334px;
  left: 42px;
  color: rgba(255, 159, 41, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text07 {
  top: 384px;
  left: 22px;
  color: rgba(250, 243, 227, 1);
  width: 440px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text17 {
  top: 586px;
  left: 22px;
  color: rgba(250, 243, 227, 1);
  width: 440px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text25 {
  top: 704px;
  left: 22px;
  color: rgba(250, 243, 227, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text35 {
  top: 482px;
  left: 465px;
  color: rgba(250, 243, 227, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text39 {
  top: 444px;
  left: 466px;
  color: rgba(250, 243, 227, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text43 {
  top: 398px;
  left: 1074px;
  color: rgba(250, 243, 227, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text44 {
  top: 505px;
  left: 1074px;
  color: rgba(250, 243, 227, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text45 {
  top: 468px;
  left: 1099px;
  color: rgba(250, 243, 227, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text46 {
  top: 547px;
  left: 1099px;
  color: rgba(250, 243, 227, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text47 {
  top: 561px;
  left: 465px;
  color: rgba(250, 243, 227, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text51 {
  top: 769px;
  left: 418px;
  color: rgba(250, 243, 227, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text52 {
  top: 813px;
  left: 418px;
  color: rgba(250, 243, 227, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text53 {
  top: 598px;
  left: 466px;
  color: rgba(250, 243, 227, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text57 {
  top: 521px;
  left: 466px;
  color: rgba(250, 243, 227, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-screen-shot20220720at3501 {
  top: 10px;
  left: 55px;
  width: 251px;
  height: 313px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(250, 243, 227, 1);
  border-style: solid;
  border-width: 7px;
  border-radius: 125.5px;
}
.desktop1-text61 {
  top: 659px;
  left: -1px;
  color: rgba(255, 159, 41, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text62 {
  top: 74px;
  left: 349px;
  color: rgba(255, 255, 255, 1);
  width: 1010px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text66 {
  top: 166px;
  left: 349px;
  color: rgba(255, 255, 255, 1);
  width: 1010px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle20 {
  top: 769px;
  left: 598px;
  width: 310px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-rectangle22 {
  top: 819px;
  left: 598px;
  width: 310px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-rectangle21 {
  top: 772px;
  left: 601px;
  width: 251px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(76, 34, 34, 1);
}
.desktop1-rectangle23 {
  top: 822px;
  left: 601px;
  width: 145px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(76, 34, 34, 1);
}
.desktop1-rectangle14 {
  top: 430px;
  left: 449px;
  width: 6px;
  height: 201px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(250, 243, 227, 1);
}
.desktop1-rectangle19 {
  top: 758px;
  left: 400px;
  width: 6px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(250, 243, 227, 1);
}
.desktop1-svg {
  top: 451px;
  left: 444px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg01 {
  top: 780px;
  left: 395px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg02 {
  top: 824px;
  left: 395px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg03 {
  top: 488px;
  left: 444px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg04 {
  top: 528px;
  left: 444px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg05 {
  top: 568px;
  left: 444px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg06 {
  top: 621px;
  left: 444px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-text67 {
  top: 482px;
  left: 701px;
  color: rgba(250, 243, 227, 1);
  width: 271px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text71 {
  top: 444px;
  left: 702px;
  color: rgba(250, 243, 227, 1);
  width: 295px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text72 {
  top: 520px;
  left: 706px;
  color: rgba(250, 243, 227, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle24 {
  top: 430px;
  left: 685px;
  width: 6px;
  height: 114px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(250, 243, 227, 1);
}
.desktop1-svg07 {
  top: 451px;
  left: 680px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg08 {
  top: 488px;
  left: 680px;
  width: 16;
  height: 16;
  position: absolute;
}
.desktop1-svg09 {
  top: 539px;
  left: 680px;
  width: 16;
  height: 16;
  position: absolute;
}

