@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    max-width: 1440;
    margin: 0 auto;
}